#btn {
  background-color: rgb(215, 18, 18);
  
  text-transform: uppercase;
  color: white;
  font-weight: 450;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 1rem;
  transition: opacity .15s;
  vertical-align: top;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}
#btn:hover {
  opacity: 1;
  box-shadow: 6px 5px 10px rgb(56, 55, 55);
}
#btn:active{
  background-color: black;
}
#btn2 {
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  border-color: blue;
  border-radius: 0.3rem;
  border-width: 0.06rem;
  font-weight: 500;
  color: blue;
  cursor: pointer;
  margin: 1rem;
  transition: background-color .5s,
  color     .5s;
  vertical-align: top;
 
  
}
#btn2:hover {
  background-color:blue;
  color: white;
  box-shadow: 6px 10px 12px rgb(70, 64, 64);
  
}
#btn2:active{
  opacity: 0.7;
}
#btn3{
  margin: 1rem;
    background-color: rgb(29 161 242);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 1.5rem;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    vertical-align: top;
   
}
#btn3:hover{
    
    box-shadow: 6px 5px 10px rgba(62, 58, 58,0.5);
}