* {
  font-family:roboto;
}

.video-title {
  font-size: 18px;
  font-weight: bold;

  width: 300px;
  line-height: 1.7rem;
}
.video-status {
  font-size: 14px;
  color: #606060;
  margin: 0;
}
.video-author {
  color: #606060;
  font-size: 14px;
}
.video-description {
  margin-bottom: 100px;
  color: #606060;
  width: 280px;
  font-size: 14px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #e34140;
    text-align: center;
    color: white;
}

.apple-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.apple-link{
    
}